---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never

# Spacing
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpaceInEmptyParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeSquareBrackets: false
SpacesBeforeTrailingComments: 2
SpaceAfterTemplateKeyword: true

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AlignOperands: true

# Indentation
IndentCaseLabels: false
NamespaceIndentation: None
AccessModifierOffset: -4

# Line Breaking
BreakBeforeBinaryOperators: None
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: true

# Includes
SortIncludes: false
IncludeBlocks: Preserve

# Pointers/References
PointerAlignment: Left
ReferenceAlignment: Left

# Other
Cpp11BracedListStyle: true
Standard: Latest
---
Language: Java
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
SpaceBeforeParens: ControlStatements
---
